</html>
<footer>
  <p>Multiplayer Clicker <span id="thisyear"></span> &copy; Esteban Rosano</p>
  <img src="https://drive.google.com/uc?id=1vDzDSV5Y-uNkS5jsx2qwOI4iDaCFh1xl" alt="Logo del Tecnólogo Informática">
</footer>

<script>
  const thisYear = new Date().getFullYear();
  document.getElementById("thisyear").textContent = thisYear;
</script>