<header>
  <h1>Bienvenido, <span class="myself"><%= locals.usuario.nickname %></span></h1>
  
  <ul id="score">
    <li>Puntaje: <span><%= locals.usuario.totalScore %></span></li>
    <li>Combo: <span><%= locals.usuario.currentCombo %></span></li>
    <li>Max Combo: <span><%= locals.usuario.maxCombo %></span></li>
  </ul>

  <!-- modal for rules -->
  <button
  id="rules"
  class="btn"
>
  Reglas
</button>
  <div
    id="modal"
    class="modal"
  >
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Reglas</h3>
      <p>Multiclicker - Todos contra todos</p>
      <p>
        Aumenta tus puntos clickeando las pelotas antes de que desaparezcan. 
        ¡A mayor combo mayor puntaje!
      </p>
      <p>
        Pero cuidado! Un click en el fondo y tu combo se reinicia a 0
        restandote 50 puntos.
      </p>
      <p>
        ¿Te atreves a permanecer en la cima?
      </p>
    </div>
  </div>
</header>
