<section>
  <div class="playersHeader">
    <h2>Tabla de Posiciones</h2>
    <ol id="players"></ol>
  </div>

  <div>
    <hr class="horizontal-line" />
    <h3>( Jugadores online: <span id="onlinePlayers">2</span> )</h3>

    <button
      id="logout"
      class="btn"
    >
      Cerrar Sesión
    </button>
  </div>
</section>
