<%- include('../partials/head') %>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    gap: 40px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: 300px;
    box-shadow: 0 0 10px #000;
  }

  section + section {
    margin-left: 20px;
  }

  h2 {
    margin: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #eee;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
  }

  form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }

  input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: none;
    color: #fff;
    margin-bottom: 10px;
  }

  input + p {
    color: gray;
    font-size: 12px;
    margin-bottom: 15px;
  }

  button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: #ccc;
  }
</style>
<body>
  <%- include('../partials/message') %>
  <main>
    <section>
      <h2>Iniciar Sesi칩n</h2>

      <form
        id="loginform"
        action="/api/auth"
        method="POST"
      >
        <div>
          <input
            type="text"
            name="nickemail"
            placeholder="Nickname o Correo"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Contrase침a"
            required
          />
        </div>
        <button type="submit">Entrar</button>
      </form>
    </section>

    <section>
      <h2>Registrarme</h2>

      <form
        id="registerform"
        action="/api/users"
        method="POST"
      >
        <input
          type="text"
          name="nickname"
          placeholder="Nickname"
          required
        />
        <input
          type="email"
          name="email"
          placeholder="Correo"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Contrase침a"
          required
        />
        <p>*La contrase침a debe tener un minimo de 6 caracteres</p>
        <button type="submit">Crear usuario</button>
      </form>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
</body>
<%- include('../partials/footer') %>
